/* ----------------- Paguina de CONEXION ----------------- */
.page-conexion {
    background-color: var(--primarioConexion);
    font-size: 1.6rem;
    line-height: 1.5;
}
.seccion__conexion {
    display: flex;
    justify-content: center;
    padding: 0 0 3rem 0;
}

.grid__caja--conexion {

    border: 0.1rem solid black;
    /* Borde exterior */
    box-shadow: inset 0 0 0 0.2rem black;
    /* Borde interno */
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch; /* Esto hace que todos midan lo mismo que el más alto */
    width: 90%;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    gap: 0rem;
    /* Imagen de fondo en el contenedor */
    background-image: url(../img/mesa.svg);
    background-size: cover;
    /* Hace que cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
}

@media (min-width: 768px) {
    .grid__caja--conexion {

        border: 0.1rem solid black;
        /* Borde exterior */
        box-shadow: inset 0 0 0 0.2rem black;
        /* Borde interno */

        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch; /* Esto hace que todos midan lo mismo que el más alto */
        width: 90%;
        background-color: var(--blanco);
        padding: 1rem;
        border-radius: 1rem;
        gap: 0rem;

        /* Imagen de fondo en el contenedor */
        background-image: url(../img/mesa.svg);
        background-size: cover;
        /* Hace que cubra todo el contenedor */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
        /* Evita que se repita */
        
    }
}

.titulo_conexion {
    display: flex;
    align-items: center;    /* Centrado vertical */
    /* justify-content: center; /* Centrado horizontal (opcional) */
    width: 100%;
    height: 100%;
    grid-column: 2/4;
}

.negritas {
    font-style: normal;
    font-family: var(--fuenteContenidos);
    font-weight: bold;
    font-size: 4rem;
}

.contenedor_img {
    width: 80%;
    height: 80%;
    display: grid;
    justify-self: center;
    transition: transform 0.3s ease;
}
.contenedor_img:hover {
    transform: scale(1.5); /* Aumenta el tamaño un 5% */
    z-index: 10; /* Asegura que al crecer se vea por encima de otros elementos */
}

.referencia__img {
    object-fit: contain; 
    border-radius: 2rem;
}

.seccion__informacion {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0rem;
    grid-column: 1/3;
}

.img__rosa {
    display: flex;
    justify-self: center;
    width: 95%;
    /* grid-column: 3/4;
    grid-row: 1/2; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.img__rosa:hover{
    transform: scale(1.1);
}

.boton {
    display: block ;
    grid-column: 2/3;
    justify-self: center;
    padding: 2rem;
}

.boton--1 {
    text-transform: uppercase;
    padding: 14px 28px;
    font-size: 18px;
    font-family: var(--fuentePrimaria);
    color: #fff;
    background: linear-gradient(135deg, #c022b5, #ff9671, #d28b27);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}
.cursiva_conexion {
    font-family: var(--fuenteSecundaria);
    /**font-weight: bold;**/
    font-size: 4.5rem;
    margin-top: 0;      /* Quita el espacio exterior arriba */
    margin-bottom: 0;   /* Quita el espacio exterior abajo */
    padding-top: 0;     /* Quita el espacio interior arriba */
    padding-bottom: 0;  /* Quita el espacio interior abajo */

}

.relleno1 {
    width: 98%;
    height: 100%;
    border: 0.3rem solid black;
    border-radius: 2rem;

    /* FONTO INICIAL Crear un fondo del 200% de altura */
    /* El primer color (azul) es el que se ve al inicio, el segundo (rosa) el que sube */
    background: linear-gradient(to top, #9b058a 50%, #8c898b 50%);
    background-size: 100% 200%;
    background-position: top; /* Empezamos mostrando la parte de arriba (azul) */
    
    /* Transición suave de 0.5 segundos */
    transition: background-position 0.5s ease;
    
    /* Estilo de texto para que sea legible */
    color: white;
}
/* EFECTO AL PASAR EL MOUSE */
.relleno1:hover {
    /* Movemos el fondo hacia abajo, lo que hace que el color rosa "suba" */
    background-position: bottom;
}

.texto_conexion {
    justify-self: flex-start;
    color: var(--blanco);
    font-family: var(--fuenteContenidos);
    padding: 1.2rem;
    font-size: 1.7rem;
}

.cuadro_contanto {
    place-self: center;
    flex-direction: column;   /* Apila los elementos verticalmente */
    justify-content: center;  /* Centra verticalmente */
    align-items: center;      /* Centra horizontalmente */
    text-align: center; 
    width: 85%;
    padding: 1.3rem;
}
.contacto_mensaje {
    font-family: var(--fuenteContenidos);
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: rgb(255, 25, 236);
    padding: 0 2rem;
}
.contacto_mensaje--negritas {
    font-weight: bold;
}

.correos_ {
    width: 100%;
    border-radius: 2rem;
    background-color: rgb(255, 25, 236);
    border: 0.3rem solid black;
    /* 1. Añadimos una transición para que el cambio no sea brusco */
    transition: transform 0.3s ease;
}
.correos_:hover {
    transform: scale(1.05); /* Aumenta el tamaño un 5% */
    z-index: 10; /* Asegura que al crecer se vea por encima de otros elementos */
}

.contacto_correos {
    font-size: 1.3rem;
    font-weight: bold;
}

.email1, .email2 {
    color: var(--blanco);
    font-family: var(--fuenteContenidos);
}