/* ----------------- Paguina de HUMOR ----------------- */
.page-humor {
    background-color: var(--primarioHumor);
    font-size: 1.6rem;
    line-height: 1.5;
}
.seccion__humor {
    display: flex;
    justify-content: center;
    padding: 0 0 3rem 0;
}

.grid__caja--humor {

    border: 0.1rem solid black;
    /* Borde exterior */
    box-shadow: inset 0 0 0 0.2rem black;
    /* Borde interno */

    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 90%;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    gap: 2rem;

    /* Imagen de fondo en el contenedor */
    background-image: url(../img/mesa.svg);
    background-size: cover;
    /* Hace que cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
}

@media (min-width: 768px) {
    .grid__caja--humor {

        border: 0.1rem solid black;
        /* Borde exterior */
        box-shadow: inset 0 0 0 0.2rem black;
        /* Borde interno */

        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        width: 90%;
        background-color: var(--blanco);
        padding: 1rem;
        border-radius: 1rem;

        /* Imagen de fondo en el contenedor */
        background-image: url(../img/mesa.svg);
        background-size: cover;
        /* Hace que cubra todo el contenedor */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
        /* Evita que se repita */

    }
}

.titulo__humor {
    display: flex;
    /* Alinea el elemento verticalmente arriba */
    align-self: start; 
    /* Alinea el elemento horizontalmente a la izquierda */
    justify-self: start;
    height: 80%;
    grid-column: 1/4;
    
}
.contenedor__meme {
    display: grid;
    justify-self: center;
    width: 100%;
    grid-column: 4/7;
    grid-row: 1/3;
    padding: 5rem;
    /* Añadimos perspectiva para que el giro 3D se vea con profundidad */
    perspective: 1000px;
}
.meme {
    display: flex;
    justify-self: center;
    width: 60%;
    border-radius: 2rem;

    /* CONFIGURACIÓN PARA EL GIRO */
    transition: transform 1.5s; /* Duración del giro: 0.8 segundos */
    transform-style: preserve-3d;
    cursor: pointer; /* Para que el usuario sepa que puede interactuar */
}

/* Aplicamos el efecto cuando el mouse pasa por encima */
.meme:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.boton__puntero {
    display: flex;
    grid-column: 1/4;
}